header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    background: #e63946;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
    margin: 10px;
    color: black;
    font-weight: bolder;
}

nav ul li:hover {
    background: #a8dadc;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.container-fluid.banner {
    margin: 75px 0;
    background: url(images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 60vh;
}

div.banner .row {
    height: 100%;
    align-items: center;
}

.container-fluid.banner .container {
    height: 100%;
}
