body {
    background: #2a9d8f;
    margin: 0;
}

h1,h2,h3.h4,h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    
}

p, ul, li {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

#main-warpped 
{
    position: absolute;
}

header {
    background-color: #03045e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 0 5px;
}

#logo {
    color: red;
    margin: 10px 20px;   
}

nav ul li{
    display: inline-block;
    margin: 3px 5px;
    padding: 0 5px;
}

nav ul li:hover{
    background-color: blue;
    box-shadow: 1px 1px 3px black;
    border-radius: 3px;
    margin: 3px 5px;
    padding: 0 5px;
}

nav a {
    color: #caf0f8;
    text-decoration: none;
    display: block;
}

nav {
    position: absolute;
    top: 17px;
    right: 10px;

}

#banner {
    color: aqua;
    background: #f1faee;
    height: 300px;
    width: 100%;
    margin-top: 75px;
    background-image: url(https://www.nawpic.com/media/2020/messi-nawpic-3-scaled.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    width: 100%;
    margin: auto;
}

p {
    text-align: center;
    margin-top: auto;
}

#main-col {
    display: flex;
    flex-direction: row;
}

.font-block {
    width: 100%;
    margin: 1%;
    padding: 2%f;
    border: 1px solid lightcyan;
    border-radius: 6px;
    box-shadow: 1px 1px 6px;
    background-color: #e0aaff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}


button {
    background-color: #7b2cbf;
    color: dark;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 5px 0 #3c096c;
    transition: 0.4s;
    cursor: pointer;
    margin-bottom: 10px;
}

button:active {
    box-shadow: none;
    transform: translateY(5px);
}

footer {
    display: flex;
    background-color: #264653;  
    color: white;
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid white;
    justify-content: space-around;
}

input.menu-check {
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
}

input.menu-check:checked~nav{
    right: 0;
}

@media only screen and (max-width: 750px){
    body {
        background: #e0b1cb;
    }

    #main-col {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .font-block {
        flex-basis: 45.5%;
    }

    .font-block:last-child {
        flex-basis: 100%;
    }
    
    input.menu-check {
        display: block;
    }

    nav {
        display: block;
        position: absolute;
        top: 75px;
        right: -30%;
        background: #000000bf;
        width: 25%;
        height: 100vh;
        transition: all 1000ms;
    }
}

@media only screen and (max-width: 520px){
    body {
        background: orange;
    }
    
    #main-col {
        display: block;
    }

    .font-block {
        flex-basis: 100%;
    }

    .font-block:last-child {
        flex-basis: 100%;
    }
}